#emp_table {
    font-size: 14px;
    border: 2px solid;
    border-color: blueviolet;
    border-radius: 8px;
    background-color: rgba(137, 43, 226, 0.438);
    width: 70vw;
    margin: 10px auto;



}