#form-components {
    border: none;
    border-radius: 10px;
    display: grid;
    background-color: rgba(224, 222, 235, 0.555);
    justify-content: center;
    align-content: center;
    column-gap: 10px;
    width: 50vw;
    margin: 40px auto;
    row-gap: 10px;
    padding: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1.5fr;
    grid-template-areas:
        "firstName lastName"
        "email department"
        "salary button";

}

#firstName {
    grid-area: firstName;
    color: black;

}

#lastName {
    grid-area: lastName;
    color: black;

}

#email {
    grid-area: email;
    color: black;
}

#department {
    grid-area: department;
    color: black;
}

#salary {
    grid-area: salary;
    color: black;
}

#button {
    grid-area: button;

}

#btn-submit {
    margin-top: 28px;
    border: none;
    border-radius: 8px;
    background-color: blueviolet;
    color: white;
    padding: 10px;
    width: 12vw;
    font-size: 16px;
    font-weight: bolder;

}


#firstName,
#lastName,
#email,
#department,
#salary {
    display: flex;
    flex-direction: column;
    align-items: center;
}


label {
    display: block;
    color: brown;
    margin-bottom: 5px;
}

input {
    border-radius: 8px;
    height: 4vh;
}